{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
<div class="r">
  <div class="c s12 name-cell"><h1><span class="err">#REF!</span> Page not found</h1></div>
</div>
<div class="r">
  <div class="c s8"><p>That page doesn't exist or has moved.</p></div>
  <div class="c s4 blank"></div>
</div>
<div class="r">
  <div class="c s12 btn-row">
    <a class="btn primary" href="/">Go to the home page</a>
    <a class="btn" href="/projects">See all projects</a>
  </div>
</div>
{% endblock %}
